<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-5.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/fontawesome/fontawesome-free-6.4.2-web/css/all.css">
    <link rel="stylesheet" href="css/default.css">
    <title>Home</title>
</head>
<body class="d-flex align-items-center">
  
    <!-- Card : Sample Text -->
    <div id="sample-text-card" class="card col-5 bg-transparent border-0">
        <!-- Card Body -->
        <div class="card-body">
            <!-- Card Header-->
            <h1 class="mb-3">Evergreen Bank </h1>
            <!-- End Card Header-->

            <!-- Card Title-->   
         <h5 class="card-title">
            Your Financial Hub- 
            Manage All Your Finances in One Place
         </h5>
         <!-- End Of Card Title-->

         <!-- Card Text-->
         <p class="card-text">
            At HappyBank, we strive to make financial planning hassle-free and secure. Don't wait any longer - 
            join us today and start taking advantage of our online services!
         </p>
         <!-- End Of Card Text-->

        <!-- Button Wrapper-->
        <div class="button-wrapper d-flex align-items-center">
            <a href="/register" class="btn btn md register" role="button">Register</a>
            <a href="/login" class="btn btn md login" role="button">Login</a>
        </div>
        <!-- End Of Button Wrapper-->
        
    </div>
    <!-- End Of Card Body -->

 </div>
    <!-- End OfCard : Sample Text -->
</body>
</html>