<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap/bootstrap-5.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/fontawesome/fontawesome-free-6.4.2-web/css/all.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/bootstrap.bundle.js"></script>
    <title>Transaction History</title>
</head>
<body>

     <!-- Main Page Header -->
     <header class="main-page-header mb-3 bg-primary">
        <!-- Container-->
        <div class="container d-flex align-items-center">
           <!-- Company Name -->
           <div class="company-name">
              Evergreen Bank
           </div>
           <!-- Company Name -->

           <!-- Navigation -->
           <nav class="navigation">
             <li><a href="/dashboard">Dashboard</a></li>
             <li><a href="/payment">Payment History</a></li>
             <li><a href="">Transaction History</a></li>
           </nav>
           <!-- End Of Navigation -->

           <!-- Display Name -->
           <div class="display-name ms-auto text-white">
              <i class="fa fa-circle text-success me-2"></i> Welcome: <span>Jane Doe</span>
           </div>
           <!-- End Of Display Name -->

           <!-- Log Out Button -->
           <a href="" class="btn btn-sm text-white ms-4">
              <i class="fa fa-sign-out-alt"></i><a href="Login.html" class="btn btn-sm text-white">Sign Out</a> 
           </a>
           <!-- End Of Log Out Button -->
        </div>
        <!-- End of Container-->
    </header>   
    <!-- Transaction History Table -->
    <table class="table text-center" id="trxHistoryTable">
        <tr>
            <th>Transaction ID</th>
            <th>Account Number</th>
            <th>Transaction Type</th>
            <th>Amount</th>
            <th>Source</th>
            <th>Status</th>
            <th>Reason Code</th>
            <th>Created at</th>
        </tr>

    </table>


<script>
   document.addEventListener("DOMContentLoaded", async function () {
          const urlSearchParams = new URLSearchParams(window.location.search);
          const userId = urlSearchParams.get('id');
          const navigationLinks = document.querySelectorAll('.navigation a');
          navigationLinks.forEach(link => {
              const href = link.getAttribute('href');
              link.setAttribute('href', `${href}?id=${userId}`);
          });
          try {
              // Fetch payment history data
              const response = await fetch(`http://localhost:9000/api/tranxById/${userId}`);
              if (!response.ok) {
                  throw new Error('Failed to fetch payment history');
              }

              const paymentHistoryData = await response.json();
              console.log(paymentHistoryData);

              // Reference to the table body
              const tableBody = document.getElementById('trxHistoryTable').getElementsByTagName('tbody')[0];
              const formatter = new Intl.DateTimeFormat("en-GB", {
                                          year: "numeric",
                                          month: "long",
                                          day: "2-digit"
                                       });
              // Populate the table rows dynamically
              paymentHistoryData.forEach(account => {
                    account.Transactions.forEach(transaction => {
                        console.log(transaction.createdAt);
                        const row = tableBody.insertRow();
                        const isoDate = new Date(transaction.createdAt);

                        // Format the date as YYYY-MM-DD HH:MM
                        const formattedDate = isoDate.toLocaleString('en-GB', {
                           year: 'numeric',
                           month: '2-digit',
                           day: '2-digit',
                           hour: '2-digit',
                           minute: '2-digit',
                           hour12: false, // Use 24-hour format
                        });
                        console.log(formattedDate);
                        row.innerHTML = `
                            <td>${transaction.id}</td>
                            <td>${transaction.account_no}</td>
                            <td>${transaction.type}</td>
                            <td>${transaction.amount}</td>
                            <td>${transaction.sender}</td>
                            <td>${transaction.status}</td>
                            <td>${transaction.reason}</td>
                            <td>${formattedDate}</td>
                        `;
                    });
                });
          } catch (error) {
              console.error('Error:', error.message);
          }
      });
</script>
    
</body>
</html>